.flex {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

h1 {
  font-size: 3rem;
  color: #f7b510;
}

h2 {
  font-size: 1.25rem;
  color: #116783;
}
@media only screen and (max-width: 1250px) {
  h2 {
    font-size: 1.1rem;
  }
}

h3 {
  font-size: 1.15rem;
}

h4 {
  font-size: 1.01rem;
}

p {
  font-size: 1.3rem;
}
@media only screen and (max-width: 1250px) {
  p {
    font-size: 1.1rem;
  }
}

button, .btn--secondary, input[type=submit] {
  padding: 1rem 1.5rem;
  font-size: 1rem;
  color: rgb(248, 242, 242);
  text-transform: capitalize;
  background-color: #116783;
  border-radius: 0.5rem;
  cursor: pointer;
}
button:hover, .btn--secondary:hover, input[type=submit]:hover {
  background-color: #6fdcfe;
}
@media only screen and (max-width: 1250px) {
  button, .btn--secondary, input[type=submit] {
    padding: 1rem;
    font-size: 0.8rem;
  }
}

.btn--secondary {
  background-color: #f7b510;
}

.btn--small {
  font-size: 0.8rem;
  padding: 0.3rem;
}

img {
  max-width: 100%;
  display: block;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover; /*{ Read thissssssssssssssss} */
  border-radius: 0.5rem;
}

ul {
  list-style-type: none;
}
ul li {
  font-size: 1rem;
}
@media only screen and (max-width: 1250px) {
  ul li {
    font-size: 1rem;
  }
}

hr {
  margin: 2rem auto;
  color: #6fdcfe;
  border: 1px solid #6fdcfe;
  width: 80%;
}
@media only screen and (max-width: 1250px) {
  hr {
    margin-block: 1rem;
  }
}

.loader {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.container, .dashboard--container, .create--post {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  padding-block: 3rem;
}
@media only screen and (max-width: 1250px) {
  .container, .dashboard--container, .create--post {
    padding-block: 1.5rem;
  }
}
.container .container--item, .dashboard--container .container--item, .create--post .container--item {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 70%;
  margin: auto;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1250px) {
  .container .container--item, .dashboard--container .container--item, .create--post .container--item {
    width: 95%;
    margin: auto;
  }
}
@media only screen and (min-width: 1250px) and (max-width: 1400px) {
  .container .container--item, .dashboard--container .container--item, .create--post .container--item {
    width: 90%;
    margin: auto;
  }
}

.blog--card, .head--posts aside .blog--card {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  align-items: flex-start;
  text-transform: capitalize;
}
@media only screen and (max-width: 1250px) {
  .blog--card, .head--posts aside .blog--card {
    padding: 0.5rem;
  }
}
.blog--card h2, .head--posts aside .blog--card h2 {
  color: rgb(24, 23, 23);
  line-height: 1.2;
}
.blog--card h3, .head--posts aside .blog--card h3 {
  font-size: 1rem;
  color: #f7b510;
  background-color: #116783;
  border-radius: 0.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-inline: 0.3rem;
  color: rgb(248, 242, 242);
  margin-block: 0.3rem;
}
.blog--card p, .head--posts aside .blog--card p {
  font-size: 1.05rem;
  margin-block: 0.3rem;
}
.blog--card img, .head--posts aside .blog--card img {
  width: 100%;
  height: 150px;
  border-radius: 0.5rem;
}
@media only screen and (max-width: 1250px) {
  .blog--card img, .head--posts aside .blog--card img {
    height: 110px;
    margin: 0;
  }
}

#homepage {
  padding-block: 3rem;
}
#homepage .container--item {
  align-items: flex-start;
}
@media only screen and (max-width: 1250px) {
  #homepage {
    margin-top: 2rem;
  }
}

nav {
  width: 100%;
  top: 0;
  position: fixed;
  background-color: #116783;
  padding: 1rem 1rem;
  border-bottom: 1px solid rgb(24, 23, 23);
  z-index: 100000;
}
nav .nav--container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 70%;
  flex-direction: row;
  justify-content: space-between;
  z-index: 10;
  color: rgb(248, 242, 242);
  padding-inline: 2rem;
}
@media only screen and (max-width: 1250px) {
  nav .nav--container {
    width: 100%;
    padding-inline: 1rem;
  }
}
nav .nav--container * {
  color: rgb(248, 242, 242);
}
nav .nav--container img {
  width: 100px;
}
nav .nav--container #closeNav, nav .nav--container #showNav {
  display: none;
}
@media only screen and (max-width: 1250px) {
  nav .nav--container #showNav {
    display: block;
  }
}
nav .nav--container ul {
  width: 65%;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  transition: all 1s ease-in-out;
  transition-duration: 500;
  transition-delay: 300;
  overflow: scroll;
}
nav .nav--container ul::-webkit-scrollbar, nav .nav--container ul::-webkit-scrollbar-thumb, nav .nav--container ul::-webkit-scrollbar-track {
  display: none;
}
nav .nav--container ul li a {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
nav .nav--container ul li a:active {
  color: #f7b510;
}
@media only screen and (max-width: 1250px) {
  nav .nav--container ul {
    display: none;
  }
}
nav .nav--container .menu--list--mobile {
  display: none;
}
nav .nav--container .menu--list--mobile #closeMenu {
  position: absolute;
  top: 1.5rem;
}
nav .nav--container .menu--list--mobile #closeMenu .close--menu--icon {
  font-size: 1.5rem;
  color: red !important;
}
@media only screen and (max-width: 1250px) {
  nav .nav--container .menu--list--mobile {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.7rem;
    width: 80%;
    min-height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #116783;
    padding-inline: 1rem;
    z-index: 10000;
    overflow-y: scroll;
    padding-top: 4rem;
  }
  nav .nav--container .menu--list--mobile li a {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    font-size: 1.2rem;
  }
}
nav .nav--container #icons {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #116783;
  margin-top: 3rem;
  padding-top: 1rem;
  padding-bottom: 5rem;
  color: rgb(248, 242, 242);
}
footer .footer--container {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .footer--container h2 {
  color: rgb(248, 242, 242);
}
footer .footer--container p {
  font-size: 1rem;
}
@media only screen and (max-width: 1250px) {
  footer .footer--container {
    width: 95%;
    margin: auto;
    text-align: center;
  }
  footer .footer--container * {
    margin: auto;
  }
}

.admin--nav {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  background-color: #116783;
  width: 20%;
  min-height: 100vh;
  position: fixed;
  left: 0;
  z-index: 99999999;
}
.admin--nav h2 {
  color: rgb(248, 242, 242);
}
.admin--nav h2:active {
  background-color: red;
}
.admin--nav ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
.admin--nav ul li {
  color: #f7b510;
  text-transform: uppercase;
}
.admin--nav ul li:active {
  border-bottom: 1px solid red !important;
}
.admin--nav ul li a:active {
  color: red !important;
}
@media only screen and (max-width: 1250px) {
  .admin--nav {
    width: 100%;
    height: 100vh;
    display: none;
  }
  .admin--nav * {
    text-transform: capitalize;
  }
  .admin--nav ul, .admin--nav h2, .admin--nav button, .admin--nav .btn--secondary {
    display: none;
  }
}

.create--post {
  flex-direction: column;
}
.create--post label {
  font-size: 1.5rem;
  color: #116783;
}
.create--post form {
  width: 100%;
  box-shadow: none;
  gap: 0;
  padding-block: 0;
}
.create--post form div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  align-items: flex-start;
  gap: 0.5rem;
  margin-block: 1rem;
}
.create--post form div input {
  width: 100%;
}
.create--post .jodit--editor {
  width: 100%;
  padding: 1rem;
}
.create--post .blog--image {
  border: 1px solid #f7b510;
  width: 100%;
  height: 300px;
  border-radius: 0.5rem;
}
.create--post .blog--image img {
  width: 100%;
  height: 300px;
}

.dashboard--container, .create--post {
  float: right;
  width: 80%;
  min-height: 100vh;
}
.dashboard--container .container--item, .create--post .container--item {
  flex-direction: row;
}
@media only screen and (max-width: 1250px) {
  .dashboard--container, .create--post {
    width: 100%;
  }
}

.stat--card {
  background-color: #116783;
  padding: 1rem;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.stat--card:hover {
  transform: scale(1.05);
  border-radius: 0.5rem;
}
.stat--card h2 {
  color: #f7b510;
}

.modal {
  position: absolute;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  background-color: #6fdcfe;
  padding-block: 3rem;
  border-radius: 0.5rem;
}
.modal form {
  width: 60%;
  padding-block: 2.5rem;
}
.modal button:hover, .modal .btn--secondary:hover, .modal input[type=submit]:hover {
  background-color: #f7b510;
}
@media only screen and (max-width: 1250px) {
  .modal {
    width: 95%;
    padding-block: 2rem;
  }
  .modal form {
    width: 100%;
  }
}

.head--posts {
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-block: 2rem;
}
.head--posts .main .blog--card img {
  width: 100%;
  height: 300px;
}
.head--posts aside {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #6fdcfe;
  gap: 0;
}
.head--posts aside .blog--card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
@media only screen and (max-width: 1250px) {
  .head--posts aside .blog--card {
    grid-template-columns: 0.8fr 1.2fr;
  }
}
@media only screen and (max-width: 1250px) {
  .head--posts aside {
    border: none;
  }
}
@media only screen and (max-width: 1250px) {
  .head--posts {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    margin-block: 0.5rem;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
  }
  .head--posts img {
    width: 100%;
  }
  .head--posts .main {
    width: 100%;
  }
}

.category--card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70%;
  gap: 0;
  border-right: 1px solid #6fdcfe;
}
@media only screen and (max-width: 1250px) {
  .category--card {
    width: 95%;
    margin: auto;
    border: none;
    border: none;
  }
}
.category--card .title {
  padding-inline: 1.5rem;
}
@media only screen and (max-width: 1250px) {
  .category--card .title {
    padding-inline: 0;
  }
}
.category--card main {
  width: 100%;
}
.category--card main .blog--card {
  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
}
.category--card main .blog--card img {
  height: 300px;
}
@media only screen and (max-width: 1250px) {
  .category--card main .blog--card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }
  .category--card main .blog--card img {
    height: 300px;
  }
}
.category--card .posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  gap: 0.3rem;
  align-items: flex-start;
  justify-content: flex-start;
}
@media only screen and (max-width: 1250px) {
  .category--card .posts {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
  }
  .category--card .posts .blog--card {
    flex-direction: row;
  }
  .category--card .posts .blog--card h2 {
    font-size: 1.05rem;
  }
  .category--card .posts .blog--card img {
    width: 40%;
    height: 100%;
  }
}
.category--card button, .category--card .btn--secondary {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1250px) {
  .category--card button, .category--card .btn--secondary {
    padding: 0.3rem;
  }
}

section {
  background-color: #116783;
  width: 100%;
  padding-block: 2rem;
  border-radius: 0.5rem;
}
section * {
  color: white;
}
section .title {
  padding-inline: 1rem;
}
section .section--contents {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 0.5rem;
  overflow: scroll;
  justify-content: flex-start;
  align-items: flex-start;
}
section .section--contents .blog--card {
  width: 250px;
}
section .section--contents .blog--card h2 {
  font-size: 1.1rem;
  color: white;
}
section .section--contents .blog--card h3 {
  background-color: rgb(24, 23, 23);
}
@media only screen and (max-width: 1250px) {
  section .section--contents .blog--card {
    width: 210px;
  }
}

#blogPost .container--item {
  min-height: 100vh;
  align-items: flex-start;
  justify-content: flex-start;
  width: 60%;
  margin-top: 2rem;
}
@media only screen and (max-width: 1250px) {
  #blogPost .container--item {
    width: 95%;
    margin: auto;
    margin-top: 4rem;
  }
}
@media only screen and (min-width: 1250px) and (max-width: 1400px) {
  #blogPost .container--item {
    width: 90%;
    margin: auto;
    margin-top: 3rem;
  }
}
#blogPost .container--item .post--image {
  width: 60%;
  height: 300px;
}
@media only screen and (max-width: 1250px) {
  #blogPost .container--item .post--image {
    width: 90%;
  }
}
#blogPost .container--item .title {
  text-align: center;
  width: 80%;
  margin: auto;
}
#blogPost .container--item .title h3:first-of-type {
  text-transform: uppercase;
}
#blogPost .container--item .title h3 {
  color: #f7b510;
}
#blogPost .container--item .title h2 {
  font-size: 3rem;
  text-transform: capitalize;
}
@media only screen and (max-width: 1250px) {
  #blogPost .container--item .title {
    width: 100%;
  }
  #blogPost .container--item .title h2 {
    font-size: 1.5rem;
  }
}
#blogPost .container--item .share--buttons {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  margin: auto;
}
#blogPost .container--item .share--buttons h3 {
  font-size: 2rem;
  color: #f7b510;
}
#blogPost .container--item > p {
  width: 90%;
  margin: auto;
  line-height: 1.5;
  padding: 1.5rem;
}
#blogPost .container--item > p img {
  width: auto;
  height: auto;
}
#blogPost .container--item > p::first-letter {
  color: #f7b510;
  font-size: 6rem;
  margin: 1rem 0.1rem 0.5rem 2rem;
  float: left;
  line-height: 0.65;
}
@media only screen and (max-width: 1250px) {
  #blogPost .container--item > p {
    padding: 0.5rem;
  }
}
#blogPost .container--item .flex {
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
#blogPost .container--item .flex h3 {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  color: #116783;
  font-size: 2rem;
}
#blogPost .container--item .more span {
  color: #f7b510;
  text-transform: uppercase;
}
#blogPost .container--item .more .posts {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.3rem;
}
#blogPost .container--item .more .posts .blog--card {
  width: 200px;
}
#blogPost .container--item .more .posts .blog--card h2 {
  font-size: 1.05rem;
}
#blogPost .container--item .more .posts .blog--card img {
  width: 100%;
  height: 100px;
}
#blogPost .container--item .comment--box {
  border: solid #6fdcfe;
  width: 70%;
  height: 300px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

html, body {
  border: none;
  line-height: 1.3;
  width: 100%;
  height: 100%;
  color: rgb(24, 23, 23);
  text-align: justify;
  background-color: rgb(248, 242, 242);
  font-family: "Space Grotesk", sans-serif;
}
html ::-webkit-scrollbar, body ::-webkit-scrollbar {
  width: 0.5rem;
}
html ::-webkit-scrollbar-thumb, body ::-webkit-scrollbar-thumb {
  border: 1px solid #f7b510;
  border-radius: 0.5rem;
  background-color: rgb(248, 242, 242);
}
html ::-webkit-scrollbar-track, body ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #f7b510;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

form {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 1rem;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 0.5rem;
}
@media only screen and (max-width: 1250px) {
  form {
    width: 90%;
  }
}

input,
select,
textarea {
  width: 90%;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.8rem 0.5rem;
  border: 1px solid #116783;
  border-radius: 0.3rem;
  color: #f7b510;
  caret-color: #116783;
  resize: none;
}
input:hover,
select:hover,
textarea:hover {
  border: 1px solid #116783;
}
@media only screen and (max-width: 1250px) {
  input,
select,
textarea {
    width: 100%;
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */