footer{
    background-color: $primary;
    padding-top: 1rem;
    
    .footer--container{
        @include desk-width;
        @include flex-row;
        flex-wrap: wrap;

        h2{
            color: $secondary;
        }

        @include mobile{
            @include m-width;
            text-align: center;
        }

        p{
            font-size: 1rem;
        }
    }
}