#homepage{
    padding-block: 3rem;

    .container--item{
        @include grid(4, 1fr);

        @include mobile{
            grid-template-columns: repeat(1, 1fr);
        }

        @include tablet{
            grid-template-columns: repeat(2, 1fr);
        }

        .categories{
            @include flex-row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 0.3rem;
            margin-block: 1rem;

            h3{
                background-color: $primary;
                padding: $xs-pad;
                border-radius: $m-border-radius;
                color: $default;
            }
        }
    }
}