#homepage{
    padding-block: 3rem;

    .container--item{
        @include flex-col;

        .blog--posts{
            @include grid(4, 1fr);
            
            @include mobile{
                grid-template-columns: repeat(1, 1fr);
            }
            
            @include tablet{
                grid-template-columns: repeat(2, 1fr);
            }
        }

        section{
            @include grid(3, 1fr);
            width: 100%;
            align-items: flex-start;
            gap: 3rem;

            @include mobile{
                grid-template-columns: repeat(1, 1fr);
                gap: 1rem;
            }
            
            .news--tags{
                @include flex-col;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 0.3rem;

                div:last-child{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 0.3rem;
                    
                    h4{
                        background-color: $primary;
                        padding: $xs-pad;
                        border-radius: $m-border-radius;
                        color: $default;
                    }
                }
            }

            .dev{
                h3{
                    display: flex;
                    gap: 0.3rem;
                    align-items: center;
                }
            }
        }
    }
}