nav{
    width: 100%;
    top: 0;
    position: fixed;
    @include flex-row;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: $primary;
    padding: $xs-pad $s-pad;
    font-size: 1.2rem;
    z-index: 10;
    color: $default;
    padding-inline: 2rem;
    
    @include mobile{
        @include flex-col;

    }

    div:first-child{
        @include mobile{
            width: 100%;
            @include flex-row;
            justify-content: space-between;
        }
    }

    // logoooooooo styling
    // div:first-child{
    //     border: solid green;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     gap: 0.2rem;
    // }

    img{
        width: 100px;
    }

    
    #closeNav, #showNav{
        display: none;
    }

    #showNav{
        @include mobile{
            display: block;
        }
    }

    ul{
        width: 80%;
        @include flex-row;
        justify-content: space-between;

        li{
            a{
                &:active{
                    color: $secondary;
                }
            }
        }

        @include mobile{
            @include flex-col;
            display: none;
            gap: 0.2rem;
        }
    }
}