.admin--nav{
    @include flex-col;
    background-color: $primary;
    width: 20%;
    min-height: 100vh;
    position: fixed;
    left: 0;
    z-index: 99999999;

    h2{
        color: $default;
    }


    ul{
        @include flex-col;

        li{
            color: $secondary;
            text-transform: uppercase;
        }
    }


    // side nav mobile
    @include mobile{
        width: 100%;
        height: 100vh;
        
        *{
            text-transform: capitalize;
        }

        ul, h2, button{
            display: none;
        }
    }
}
