.blog--card{
    width: 100%;
    padding: $s-pad;
    @include flex-col;
    justify-content: flex-start;
    align-items: flex-start;
    text-transform: capitalize;
    transition: all 300ms;

    &:hover{
        transform: scale(1.02);
    }

    @include mobile{
        padding: $xs-pad;
    }

    h2{
        color: $dark;
        line-height: 1.2;
    }

    h3{
        font-size: 1rem;
        color: $secondary;
        background-color: $primary;
        border-radius: $m-border-radius;
        width: max-content;
        padding-inline: 0.3rem;
        color: $default;
        margin-block: 0.3rem;
    }

    p{
        font-size: 1.05rem;
        margin-block: 0.3rem;
    }

    img{
        width: 100%;
        height: 150px;
        border-radius: $m-border-radius;
        
        @include mobile{
            height: 110px;
            margin: 0;
        }
    }
}