.blog--card{
    width: 100%;
    padding: $s-pad;
    @include flex-col;

    @include mobile{
        padding: $xs-pad;
    }

    h2{
        color: $dark;
        line-height: 1.2;
    }

    h3{
        font-size: 1rem;
        color: $secondary;
    }

    p{
        font-size: 1.05rem;
    }

    img{
        width: 100%;
        height: 150px;
        border-radius: $m-border-radius;
    }
}