nav{
    width: 100%;
    top: 0;
    position: fixed;
    background-color: $primary;
    padding: $s-pad $s-pad;

    .nav--container{
    @include flex-row;
    margin: auto;
    width: 70%;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10;
    color: $default;
    padding-inline: 2rem;

    @include mobile{
        width: 100%;
        padding-inline: $s-pad;

        #icons{
            
        }

    }
    

    *{
        color: $default;
    }

    
    img{
        width: 100px;
    }

    
    #closeNav, #showNav{
        display: none;
    }


    #showNav{
        @include mobile{
            display: block;
        }
    }

    ul{
        width: 60%;
        @include flex-row;
        transition: all 1s ease-in-out;
        transition-duration: 500;
        transition-delay: 300;

        li{
            width: 100%;
            a{

                &:active{
                    color: $secondary;
                }
            }
        }

        @include mobile{
            @include flex-col;
            width: 100%;
            display: none;
        }
    }

    // search and toggle icon
    #icons{
        @include flex-row;
    }
    
    
    }

    
}