section{
    background-color: #333;
    width: $w-screen;
    padding-block: $l-pad;
    
    *{
        color: white;
    }

    .title{
        padding-inline: $s-pad;
    }


    .section--contents{
        @include grid(10, 1fr);
        overflow: scroll;
        justify-content: flex-start;
        align-items: flex-start;
        
        ::-webkit-scrollbar{
            display: none;
        }

        .blog--card{
            width: 250px;

            h2{
                font-size: 1.1rem;
                color: white;
            }
        }

    }
}