section{
    background-color: $primary;
    width: $w-screen;
    padding-block: $l-pad;
    border-radius: $m-border-radius;
    
    *{
        color: white;
    }

    .title{
        padding-inline: $s-pad;
    }


    .section--contents{
        @include grid(10, 1fr);
        overflow: scroll;
        justify-content: flex-start;
        align-items: flex-start;

        .blog--card{
            width: 250px;

            h2{
                font-size: 1.1rem;
                color: white;
            }

            h3{
                background-color: $dark;
            }

            @include mobile{
                width: 210px;
            }
        }

    }
}