// @import './variables';
// @import './mixins';

// Defaults

// Header sizes
// font sizes
.flex{
    @include flex-row;
    gap: 0.3rem;
}

h1{
    font-size: 3rem;
    color: $secondary;
}

h2{
    font-size: 1.5rem;
    color: $primary;

    @include mobile{
        font-size: 1.35rem;
    }
}

h3{
    font-size: 1.3rem;
}

h4{
    font-size: 1.01rem;
}

p{
    font-size: 1.3rem;

    @include mobile{
        font-size: 1.1rem;
    }
}

// Button & submit input
button, input[type="submit"]{
    padding: $s-pad $m-pad; 
    font-size: 1rem;
    color: $default;
    text-transform: capitalize;
    background-color: $primary;
    border-radius: $m-border-radius;
    cursor: pointer;

    &:hover{
        background-color: $extras;
    }

    @include mobile{
        padding: $s-pad;
        font-size: 0.8rem;
    }
}

.btn--secondary{
    @extend button;
    background-color: $secondary;
}

.btn--small{
    font-size: 0.8rem;
    padding: 0.3rem;
}

img{
    max-width: 100%;
    display: block;
    margin: auto;  
    object-fit: cover; /*{ Read thissssssssssssssss} */ 
    border-radius: $m-border-radius;
}

ul{
    list-style-type: none;

    li{
        font-size: 1.3rem;

        @include mobile{
            font-size: 1.1rem;
        }
    }
}

hr{
    margin: 2rem auto;
    color: $extras;
    border: 1px solid $extras;
    width: 80%;

    @include mobile{
        margin-block: 1rem;
    }
}

// container default
.container{
    width: 100%;
    min-height: 100vh;
    @include flex-row;
    padding-block: 3rem;

    @include mobile{
        padding-block: 1.5rem;
    }
    
    .container--item{
        @include flex-col;
        margin: auto;
        @include desk-width;
        flex-wrap: wrap;
        
        @include mobile{
            @include m-width;
        }

        @include tablet{
            @include tablet-width;
            border: solid cyan;
        }
    }

}