@import './variables';
@import './mixins';
@import './utilities';
@import './blogCard';
@import './homepage';
@import './nav';
@import './footer';
@import './adminPageNav';
@import './createPost';
@import "./dashboard";
@import './statCard';
@import './modal';
@import './headPost';
@import './categoryCard';
@import './section';
@import './blogPostPage';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}


html, body{
    border: none;
    line-height: 1.3;
    width: 100%;
    height: 100%;
    color: $dark;
    text-align: justify;
    background-color: $default;
    font-family: $spaceGrotesk;

    ::-webkit-scrollbar{
        // display: none;
        width: 0.5rem;
    }

    ::-webkit-scrollbar-thumb{
        border: 1px solid $secondary;
        border-radius: 0.5rem;
        background-color: $default;
    }

    ::-webkit-scrollbar-track{
        box-shadow: inset 0 0 6px $secondary;
    }
}

.light--mode{
    $primary: #116783;
$secondary: #f7b510;
$extras: #6fdcfe;
$default: rgb(248, 242, 242);
$dark: rgb(24, 23, 23);
}

.dark--mode{
    $primary: #f7b510;
    $secondary: #116783;
    $extras: #6fdcfe;
    $default: #116783;
    $dark: rgb(248, 242, 242);

}

a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

form{
    width: 40%;
    @include flex-col;
    gap: 1rem;
    padding: $l-pad $s-pad;
    box-shadow: 0 5px 5px 0 rgba(0 0 0 / 0.2);
    text-align: center;
    border-radius: $m-border-radius;

    @include mobile{
        width: 90%;
    }
}

input, 
select,  
textarea{
    width: 90%;
    font-family: inherit;
    font-size: 1.2rem;
    padding: 0.8rem 0.5rem;
    border: 1px solid $primary;
    border-radius: 0.3rem;
    color: $secondary;
    caret-color: $primary;
    resize: none;
    
    &:hover{
        border: 1px solid $primary;
    }

    @include mobile(){
        width: 100%;
        font-size: 16px;
    }
}

